/* TODO: Don't be dependent on google fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

:root {
  --black: #2f2f2f;
  --light-black: #4f4f4f;
  --white: #edf2f4;
  --gray: #bdbdbd;
  --red: #de091c;
  --blue: #224fb0;
  --green: #49b285;

  --border-radius: 8px;
  --key-size: 18px;

  --button-zoom: 1.2;
}

html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--black);
}

* {
  color: var(--white);

  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 16px;

  /* Fix raleway numbers */
  -webkit-font-feature-settings: "lnum" !important;
  -moz-font-feature-settings: "lnum" !important;
  font-feature-settings: "lnum" !important;
}
*:hover {
  cursor: default;
}

.btn {
  border-radius: var(--border-radius);
  box-shadow: none;
  padding: 5px 10px;
  height: 37px;
  width: 130px;
  font-weight: 500 !important;
}
.btn:hover {
  cursor: pointer;
}

.btn.primary {
  background-color: var(--blue);
  border-color: var(--blue);
}
.btn.delete {
  background-color: var(--red);
  border-color: var(--red);
}
.btn.save {
  background-color: var(--green);
  border-color: var(--green);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* TODO: select option on:hover cursor: pointer */
select {
  border-radius: var(--border-radius);
  border-width: 1.5px;
  border-color: var(--gray);
  color: var(--white);
  background-color: var(--black);
  padding: 5px 10px;
}
select:hover {
  cursor: pointer;
}
select > option {
  color: var(--white);
}

input[type="text"] {
  border-radius: var(--border-radius);
  border-width: 1.5px;
  border-color: var(--gray);
  color: var(--white);
  background-color: var(--black);
  padding: 5px 10px;
}
input[type="text"]:hover {
  cursor: text;
}

input[type="checkbox"] {
  border-radius: var(--border-radius);
  border-width: 1.5px;
  border-color: var(--gray);
  color: var(--white);
  background-color: var(--black);
  padding: 5px 10px;

  zoom: var(--button-zoom);
  transform: scale(var(--button-zoom));
  -ms-transform: scale(var(--button-zoom));
  -webkit-transform: scale(var(--button-zoom));
  -o-transform: scale(var(--button-zoom));
  -moz-transform: scale(var(--button-zoom));
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}

.header {
  font-size: 40px;
  text-align: center;
}

.subheading {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 12px;
  /* font-weight: 500 !important; */
}

.label {
  font-size: 20px;
  line-height: 22px;
}

.img-btn-wrapper {
  border: 0;
  appearance: none;
  background-color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 7.5%;
}

.header-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.advanced-settings-button-wrapper {
  align-self: flex-end;
  margin-top: -50px;
  margin-right: -40px; /* intentional overflow */
}

.advanced-settings-button-wrapper > button {
  width: 190px;
}

.profile-selection-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-selector {
  width: 45%;
}

.profile-actions * {
  margin-right: 10px;
}
